body {
    color: #0f0000; /* fondo oscuro */
    color: #440000; /* principal */
    color: #6e1313; /* secundario */
    color: #f4b3b3; /* claro 1 */
    color: #002028; /* oscuro */
    color: #002028f0; /* hover oscuro translucido */
    color: #fad1d1; /* claro 2 */
}